      <!-- DISCOVER -->
      <section class="pt-7 pt-md-9">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <!-- Divider -->
              <hr class="hr-sm text-primary" />
  
              <!-- Text -->
              <p class="fs-lg lh-lg text-body-emphasis mb-5 mb-md-0">{{include.left_excerpt}}</p>
            </div>
            <div class="col-md-4">
              <!-- Media -->
              <div class="media-decoration media-decoration-1 mb-5 mb-md-0">
                <!-- Border -->
                <div class="media-decoration-border" data-jarallax-element="-40"></div>
  
                <!-- Image -->
                <img class="media-decoration-img img-fluid" src="{{include.left_img}}" alt="..." />
              </div>
            </div>
            <div class="col-md-5 align-self-center mx-auto">
              <!-- Heading -->
              <h2 class="mb-2">{{include.left_title}}</h2>
  
              <!-- Text -->
              <p class="mb-0">
                {{include.left_text}}
              </p>
            </div>
          </div>
        </div>
      </section>
  
      <!-- DISCOVER -->
      <section class="py-7 py-md-9">
        <div class="container">
          <div class="row">
            <div class="col-md-2 order-md-2 align-self-end">
              <!-- Divider -->
              <hr class="hr-sm text-primary" />
  
              <!-- Text -->
              <p class="fs-lg lh-lg text-body-emphasis mb-5 mb-md-0">{{include.right_excerpt}}</p>
            </div>
            <div class="col-md-4 order-md-3">
              <!-- Media -->
              <div class="media-decoration media-decoration-1 mb-5 mb-md-0">
                <!-- Solid -->
                <div class="media-decoration-solid" data-jarallax-element="-40"></div>
  
                <!-- Border -->
                <div class="media-decoration-border" data-jarallax-element="-40"></div>
  
                <!-- Image -->
                <img class="media-decoration-img img-fluid" src="{{include.right_img}}" alt="..." />
              </div>
            </div>
            <div class="col-md-5 order-md-1 align-self-center mx-auto">
              <!-- Heading -->
              <h2 class="mb-2">{{include.right_title}}</h2>
  
              <!-- Text -->
              <p class="mb-0">
                {{include.right_text}}
              </p>
            </div>
          </div>
        </div>
      </section>
