{% assign p = site.data.offer %}
{% assign c = site.data.offer[page.lang] %}

<!-- HEADER -->
<header data-jarallax data-speed=".8" data-img-position="center 90%" style="background-image: url(/assets/img/15.jpg);">
  <div class="pt-10 pb-8 pt-md-15 pb-md-13 bg-black bg-opacity-25">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 text-center">
          <!-- Heading -->
          <h1 class="display-6 fw-bold text-white">{{c.offer}}</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<article class="pt-8 pt-md-9">
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 text-center">
          <!-- Heading -->
          <h1 class="mb-2">{{c.offer2}}</h1>

          <!-- Subheading -->
          <p class="mb-6">{{c.offer3}}</p>
        </div>
    </div>
    <div class="row">
      <div class="col-12">
        <!-- Image -->
        <figure class="mb-4 text-center">
          <img class="img-fluid" src="/assets/img/16.jpg" alt="..." />
        </figure>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6 text-center">
        <h3  class="mb-2">{{c.offer4}}</h3>
        <p class="mb-6">{{c.offer5}}</p>
      </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-6">
            <img class="media-decoration-img img-fluid" src="/assets/img/17.svg" alt="..." />
        </div>
        <div class="col-12 col-md-10 col-lg-6">
            <!-- Text -->
            <p>
                {{c.offer6 | markdownify}}
            </p>
        </div>


        <div class="col-12 col-md-10 col-lg-6">
          <img class="media-decoration-img img-fluid" src="/assets/img/18.svg" alt="..." />
        </div>
        <div class="col-12 col-md-10 col-lg-6">
            <!-- Text -->
            <p>
                {{c.offer7 | markdownify}}
            </p>
        </div>
        <!-- Divider -->
        <div class="mt-5 mt-md-8 mb-0"></div>
    </div>


    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6 text-center">
        <h3  class="mb-2">{{c.offer14}}</h3>
        <p class="mb-6">{{c.offer15}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <!-- Image -->
        <figure class="mb-4 text-center">
          <img class="img-fluid" src="/assets/img/23.jpg" alt="..." />
        </figure>
      </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-6">
            <!-- Text -->
            <p>
                {{c.offer16}}
            </p>        
        </div>
        <div class="col-12 col-md-10 col-lg-6">
            <img class="media-decoration-img img-fluid" src="/assets/img/24.jpg" alt="..." />
            <!-- Divider -->
        </div>
        <div class="mt-5 mt-md-8 mb-0"></div>
    </div>


    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6 text-center">
        <h3  class="mb-2">{{c.offer8}}</h3>
        <p class="mb-6">{{c.offer9}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <!-- Image -->
        <figure class="mb-4 text-center">
          <img class="img-fluid" src="/assets/img/19.jpg" alt="..." />
        </figure>
      </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-6">
            <!-- Text -->
            <p>
                {{c.offer10}}
            </p>        
        </div>
        <div class="col-12 col-md-10 col-lg-6">
            <img class="media-decoration-img img-fluid" src="/assets/img/20.jpg" alt="..." />
            <!-- Divider -->
        </div>
        <div class="mt-5 mt-md-8 mb-0"></div>
    </div>


    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6 text-center">
        <h3  class="mb-2">{{c.offer11}}</h3>
        <p class="mb-6">{{c.offer12}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <!-- Image -->
        <figure class="mb-4 text-center">
          <img class="img-fluid" src="/assets/img/21.jpg" alt="..." />
        </figure>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-6">
        <img class="media-decoration-img img-fluid" src="/assets/img/22.svg" alt="..." />
    </div>
    <div class="col-12 col-md-10 col-lg-6">
            <!-- Text -->
            <p>
                {{c.offer13 | markdownify}}
            </p>        
        </div>
        <div class="mt-6 mt-md-9 mb-0"></div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6 text-center">
        <h3  class="mb-2">{{c.offer19}}</h3>
        <p class="mb-6">{{c.offer20}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <!-- Image -->
        <figure class="mb-4 text-center">
          <img class="img-fluid" src="/assets/img/25.jpg" alt="..." />
        </figure>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-4">
        <img class="media-decoration-img img-fluid" src="/assets/img/27.jpg" alt="..." />
      </div>
      <div class="col-12 col-md-10 col-lg-4">
            <!-- Text -->
            <p>
                {{c.offer21 }}
            </p>
            <p>
                {{c.offer22 }}
            </p>        
      </div>
      <div class="col-12 col-md-10 col-lg-4">
        <img class="media-decoration-img img-fluid" src="/assets/img/26.jpg" alt="..." />
      </div>
      <div class="mt-2 mt-md-4 mb-0"></div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-4">
        <img class="media-decoration-img img-fluid" src="/assets/img/41.jpg" alt="..." />
        <img class="media-decoration-img img-fluid" src="/assets/img/42.jpg" alt="..." />
      </div>
      <div class="col-12 col-md-10 col-lg-4">
        <img class="media-decoration-img img-fluid" src="/assets/img/44.jpg" alt="..." />
      </div>
      <div class="col-12 col-md-10 col-lg-4">
        <img class="media-decoration-img img-fluid" src="/assets/img/43.jpg" alt="..." />
      </div>
      <div class="mt-2 mt-md-4 mb-0"></div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-4">
        <img class="media-decoration-img img-fluid" src="/assets/img/47.jpg" alt="..." />
      </div>
      <div class="col-12 col-md-10 col-lg-4">
        <img class="media-decoration-img img-fluid" src="/assets/img/46.jpg" alt="..." />
      </div>
      <div class="col-12 col-md-10 col-lg-4">
        <img class="media-decoration-img img-fluid" src="/assets/img/48.jpg" alt="..." />
      </div>
      <div class="mt-6 mt-md-9 mb-0"></div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-8 text-center">
        <h3  class="mb-2">{{c.offer23}}</h3>
        <p class="mb-6">{{c.offer24}}</p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6 text-center">
        <h3  class="mb-2">{{c.offer17}}</h3>
        <p class="mb-6">{{c.offer18}}</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-10 text-center">

        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col" class="text-end">{{c.off_season}}</th>
              <th scope="col" class="text-end">{{c.season}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="text-start">{{c.main_building}}</th>
              <td class="text-end">{% include price.html price=p.main_building eurpln=p.eurpln %}</td>
              <td class="text-end">{% include price.html price=p.main_building2 eurpln=p.eurpln %}</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row" class="text-start">{{c.appt}}</th>
              <td class="text-end">{% include price.html price=p.appt eurpln=p.eurpln %}</td>
              <td class="text-end">{% include price.html price=p.appt2 eurpln=p.eurpln %}</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row" class="text-start">{{c.food}}</th>
              <td class="text-end">{% include price.html price=p.food eurpln=p.eurpln %}</td>
              <td class="text-end">{% include price.html price=p.food2 eurpln=p.eurpln %}</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row" class="text-start">{{c.sauna}}</th>
              <td class="text-end">{% include price.html price=p.sauna eurpln=p.eurpln %}</td>
              <td class="text-end">{% include price.html price=p.sauna eurpln=p.eurpln %}</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row" class="text-start">{{c.wood}}</th>
              <td class="text-end">{% include price.html price=p.wood eurpln=p.eurpln %}</td>
              <td class="text-end">{% include price.html price=p.wood eurpln=p.eurpln %}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="mt-5 mt-md-8 mb-0"></div>
    </div>
  </div>
</article>
<article>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6 text-center">
        <h3  class="mb-2">{{c.calendar1}}</h3>
        <p class="mb-6">{{c.calendar2}}</p>
      </div>
      <div id="calendar" class="col-12 col-md-10 col-lg-10">
      </div>  
      <!-- Full Calendar -->
      <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.1.15/index.global.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/multimonth5@6.1.15/index.global.min.js"></script>
    
      <link rel="stylesheet" href="/assets/css/fullcalendar.css" />

      <script>
        document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          locale: '{{page.lang}}',
          headerToolbar: false,
          timeZone: 'Europe/Warsaw',
          initialView: 'multiMonthFourMonth',
          editable: false,
          showNonCurrentDates: false,
          multiMonthMaxColumns: 3,
          firstDay: 1,
          multiMonthMinWidth: 260,
          themeSystem: 'bootstrap5',
          events: 'https://r.farmia.org/cal',
          eventColor: '#f5a637',
          contentHeight: 'auto',
          views: {
            multiMonthFourMonth: {
              type: 'multiMonth',
              duration: { months: 9 },
            }
          }
        });

        calendar.render();
      });      
      </script>
    </div>
  </div>
</article>
